<h3>Pages</h3><br>
<div>
    <a href="/admin/pages/add/"><button class="btn btn-sm btn-success">New Page</button></a>
</div>
<br>

<table class="table table-striped" style="width: 700px;">
    <tr>
        <td style="width: 5%">#</td>
        <td style="width: 75%">Title</td>
    </tr>
    <?php
    $i=0;
    foreach ($data['pages'] as $page_data) {$i++; ?>
        <tr>
            <td><?=$i?></td>
            <td><b><?=$page_data['title']?></b></td>
            <td align="right">
                <a href="/admin/pages/edit/<?=$page_data['id']?>"><button class="btn btn-sm btn-primary">edit</button></a>
                <a href="/admin/pages/delete/<?=$page_data['id']?>" onclick="return confirmDelete()"><button class="btn btn-sm btn-warning">delete</button></a>
            </td>
        </tr>
    <?php } ?>
</table>

