<h3>Add  page</h3><br>
<form method="post" action="">

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name='title' value="" class="form-control">
    </div>
    <div class="form-group">
        <label for="content">Text</label>
        <textarea name="content" id="content" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="title">Link</label>
        <input type="text" id="title" name='link' value="" class="form-control">
    </div>
    <div class="form-group">
        <label for="category">Category: 1 - sport, 2 - cars, 3 - science</label>
        <input type="number" id="title" name='category' value="" class="form-control">
    </div>
    <input type="submit" class="btn btn-success">
</form>